$color-main: #205a29;
$color-secondary: #ab5626;
$color-third: #c2b021;
$main-font: 'Roboto Condensed', sans-serif, Helvetica;
$secondary-font: 'Oswald', sans-serif, Helvetica;

html {
  scroll-behavior: smooth;
  font-family: 'Roboto Condensed', sans-serif, Arial, Helvetica;
}

body {
  font-family: $main-font;
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

main {
  min-height: 100vh;
  padding-top: 91px;
  @media (max-width: 991px) {
    padding-top: 66px;
  }
}

a:focus {
  outline: 0;
}

section {
  padding: 70px 0;
  @media (max-width: 991px) {
    padding: 40px 0;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $secondary-font;
}

.section-heading {
  font-size: 2.7em;
  color: $color-third;
  margin-bottom: 30px;
  @media (max-width: 991px) {
    font-size: 1.8em;
    line-height: 1.1;
  }
}

.section-subheading {
  font-size: 1.7em;
  color: $color-third;
  margin-bottom: 20px;
  @media (max-width: 991px) {
    font-size: 1.5em;
    line-height: 1.1;
  }
}

.button-primary {
  border: 2px solid $color-secondary;
  background-color: $color-secondary;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 1.5em;
  font-weight: 400;
  margin-top: 30px;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.5px;
  &:hover {
    background: #fff;
    color: $color-secondary;
    text-decoration: none;
  }
}

button[disabled] {
  opacity: 0.4;
}

.banner-todos {
    background-image: url(../../images/secciones.jpg);
    height: 370px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      color: #fff;
      text-align: center;
      font-size: 82px;
    }

    @media (max-width: 991px) {
      height: 200px;
      h2 {
        font-size: 45px;
      }
    }
}
