header {

  .logo {
    width: 220px;
    height: 75px;
    display: block;
    background-image: url(../../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .navbar {
    transition: all ease .5s;

    .container {
      justify-content: flex-start;
    }

    .navbar-toggler {
      border:0;
      padding-left: 0;
      &:focus {
        outline: 0;
        color: #000;
      }
    }

    .navbar-nav {
      .nav-link {
        color: #0D0D0D;
        position: relative;
        margin: .5rem 1rem;
        padding: 0;
        font-size: 1.15em;
        letter-spacing: -0.3px;

        &:after {
          position: absolute;
          content: '';
          display: block;
          height: 1px;
          background-color: $color-main;
          width: 0;
          left: 0;
          bottom: 0;
          transition: all 0.15s ease;
        }

        &:before {
          position: absolute;
          content: '';
          display: block;
          height: 1px;
          background-color: $color-main;
          width: 0;
          left: 0;
          bottom: 24px;
          transition: all 0.15s ease;
        }

        &:hover, &:focus {
          color: $color-main;
          outline: 0;
          @media (min-width: 992px) {
            &:after, &:before {
              width: 100%;
            }
          }
        }
        &.active {
          color: $color-main;
        }
      }

      .menu-close {
        position: absolute;
        right: 0;
        top: 5px;

        button {
          font-size: 2.3rem;
          position: relative;
          z-index: 9999;
          &:focus {
            outline: 0;
            color: $color-main;
          }
        }
      }
    }

  }

  //Clase que agregaremos cuando el usuario haga scroll
  .menu-fixed {
    background-color: #fff;
	  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 991px) {
      .logo {
        width: 150px;
        height: 50px;
      }

      .navbar {
        background-color: #fff;
    	  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);

        .navbar-collapse.collapsing .navbar-nav {
          display: block;
          position: fixed;
          top: 0;
          bottom: 0;
          left: -75%;
          transition: all 0.2s ease;
        }

        .navbar-collapse.show .navbar-nav {
          position: fixed;
          top: 66px;
          bottom: 0;
          left: 0;
          flex-direction: column;
          height: auto;
          width: 75%;
          transition: left 0.35s ease;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          background: #fff;
          z-index: 9998;

          .nav-item {
            &.language {
              margin-top: .8rem;
              margin-left: 0;
              a {
                padding: 0 .35rem;
              }
            }
            .nav-link {
              border-bottom: 1px solid #eee;
              padding: 0.6rem 0;
              margin: 0 0.5rem;
              &:after {
                display: none;
              }
            }
            &:last-child {
              .nav-link {
                border: 0;
              }
            }
          }
        }

      }


  }

}
